/////////////////////////////////////
/// VARIABLES
/////////////////////////////////////

// colors
$color-primary-1: hsl(233, 26%, 24%);
$color-primary-2: hsl(136, 65%, 51%);
$color-primary-3: hsl(192, 70%, 51%);

$color-neutral-1: hsl(233, 8%, 62%);
$color-neutral-2: hsl(220, 16%, 96%);
$color-neutral-3: hsl(0, 0%, 98%);
$color-neutral-4: hsl(0, 0%, 100%);

// box-shadows
$box-shadow-1: hsla(210, 8%, 62%, 0.2) 0px 8px 24px;

///////////////////////////////
/// MIXINS
///////////////////////////////
@mixin flex($x, $y) {
	display: flex;
	justify-content: $x;
	align-items: $y;
}

@mixin respond($breakpoint) {
	@if $breakpoint ==phone-s {
		@media only screen and (max-width: 25em) {
			// 400px
			@content;
		}
	}
	@if $breakpoint ==phone {
		@media only screen and (max-width: 37.5em) {
			// 600px
			@content;
		}
	}

	@if $breakpoint ==tab-port {
		@media only screen and (max-width: 56.25em) {
			// 900px
			@content;
		}
	}

	@if $breakpoint ==tab-land-s {
		@media only screen and (max-width: 68.75em) {
			// 1100px
			@content;
		}
	}

	@if $breakpoint ==tab-land {
		@media only screen and (max-width: 75em) {
			// 1200px
			@content;
		}
	}
}

///////////////////////////////
/// UTILITY CLASSES
///////////////////////////////
.hidden {
	display: none !important;
}

.unhide {
	display: unset !important;
}

.invisible {
	opacity: 0 !important;
	user-select: none !important;
}

.visible {
	opacity: 1 !important;
	user-select: all !important;
}

.mb-s {
	margin-bottom: 1.6rem;
}

.mb-m {
	margin-bottom: 2.4rem;
}

.mb-l {
	margin-bottom: 3.2rem;
}

.mb-xl {
	margin-bottom: 4.8rem;
}

/////////////////////////////////////
/// GLOBAL
/////////////////////////////////////
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Public Sans", sans-serif;

	@include respond(tab-port) {
		font-size: 50%;
	}
}

body {
	font-size: 1.8rem;
}

/////////////////////////////////////
/// TYPOGRAPHY
/////////////////////////////////////
h1,
h2,
h3,
h4 {
	font-weight: 300;
	color: $color-primary-1;
}

.heading-1 {
	font-size: 4.4rem;
}

.heading-2 {
	font-size: 3.6rem;
}

.heading-3 {
	font-size: 2.4rem;
}

.heading-4 {
	font-size: 2rem;
}

.paragraph {
	line-height: 1.5;
	color: $color-neutral-1;
}

.btn {
	color: $color-neutral-4 !important;
	text-decoration: none;
	padding: 1.4rem 2.8rem;
	border-radius: 10rem;
	background: linear-gradient(to right, $color-primary-2, $color-primary-3);

	&:hover {
		transition: all 150ms ease;
		opacity: 0.8;
	}
}

.author {
	font-size: 1.4rem;
	color: $color-neutral-1;
}

/////////////////////////////////////
/// NAVIGATION
/////////////////////////////////////
.menu-bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, $color-primary-1, transparent);
	transition: all 450ms ease;
	z-index: 5;
	display: none;
}

nav {
	background-color: $color-neutral-4;
	padding: 1.6rem 12.6rem;
	box-shadow: $box-shadow-1;
	position: sticky !important;
	top: 0;
	transition: all 350ms ease;
	z-index: 10;

	@include flex(space-between, center);

	.wrapper {
		@include flex(center, center);
		gap: 3.2rem;
	}

	a {
		position: relative;

		&:visited,
		&:link {
			text-decoration: none;
			color: $color-neutral-1;
		}

		&:hover,
		&:active {
			transition: all 150ms ease;
			color: $color-primary-1;
		}

		&:not(.btn)::after {
			content: "";
			position: absolute;
			bottom: -1rem;
			height: 3px;
			width: 0%;
			background: linear-gradient(to right, $color-primary-2, $color-primary-3);
			display: block;
			opacity: 0;
		}

		&:hover::after {
			transition: all 450ms ease;
			width: 100%;
			opacity: 1;
		}
	}
}

/////////////////////////////////////
/// *MOBILE* NAVIGATION
/////////////////////////////////////
.btn-menu {
	@include flex(center, center);

	border: none;
	border-radius: none;
	background: transparent;
	display: none;

	// for pixel perfect
	height: 19px;

	@include respond(tab-land) {
		display: unset;
	}
}

.hamburger {
	display: none;
}

nav {
	position: relative;

	@include respond(tab-land) {
		flex-wrap: wrap;
		padding: 1.6rem 4.8rem;

		.logo {
			order: -1;
		}

		.wrapper {
			position: fixed;
			top: 6.4rem;
			left: 0;
			right: 0;
			margin: 2.4rem auto 0 auto;
			background-color: $color-neutral-4;
			box-shadow: $box-shadow-1;
			border-radius: 4px;
			padding: 2.4rem 0;
			flex-direction: column;
			width: 50vw;

			transition: all 250ms ease;
			opacity: 0;
			user-select: none;

			@include respond(phone) {
				width: 80%;
			}
		}

		a {
			&:visited,
			&:link,
			&:hover,
			&:active {
				color: $color-primary-1;
			}

			&:not(.btn)::after {
				display: none;
			}

			&:hover::after {
				display: none;
			}
		}

		.btn {
			display: none;
		}

		.hamburger {
			display: block;
			order: 2;
		}
	}
}

/////////////////////////////////////
/// SECTIONS IN RENDER ORDER
/////////////////////////////////////
section,
footer {
	padding: 9.6rem 12.6rem;

	@include respond(phone) {
		padding: 6.4rem;
	}

	@include respond(phone-s) {
		padding: 4.8rem 3.2rem;
	}
}

.section-cta {
	@include flex(flex-start, center);
	position: relative;
	height: 90vh;
	background-image: url(../images/bg-intro-desktop.svg);
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	background-position-x: 52rem;
	background-position-y: -30rem;

	@include respond(tab-land-s) {
		height: auto;

		flex-direction: column;
		align-items: center;

		background-image: url(../images/bg-intro-mobile.svg);
		background-position: center;
		background-position-y: -50rem;
	}

	@include respond(phone) {
		background-position-y: -35rem;
	}

	@include respond(phone-s) {
		background-position-y: -25rem;
	}

	&::after {
		content: "";
		position: absolute;
		top: -30%;
		right: 0%;
		height: 155%;
		width: 45vw;
		background-repeat: no-repeat no-repeat;
		background-size: cover;
		background-image: url(../images/image-mockups.png);

		@include respond(tab-land-s) {
			display: none;
		}
	}

	.mockups {
		display: none;

		@include respond(tab-land-s) {
			display: block;
			scale: 0.75;
			max-width: 100%;
			margin: -75vh auto 0;
		}

		@include respond(tab-land-s) {
			margin-top: -70%;
		}

		@include respond(phone-s) {
			margin-top: -60%;
		}
	}

	.wrapper {
		max-width: 42ch;

		@include flex(space-around, flex-start);
		flex-direction: column;
		gap: 2.4rem;

		@include respond(tab-land-s) {
			margin-top: -9.6rem;
			text-align: center;
			align-items: center;
		}

		@include respond(phone) {
			margin-top: -4.8rem;
		}
	}
}

.section-features {
	background-color: $color-neutral-3;

	.wrapper {
		max-width: 60ch;
		@include flex(center, flex-start);
		flex-direction: column;
		gap: 2.4rem;

		@include respond(tab-port) {
			text-align: center;
			align-items: center;
		}
	}

	.container {
		@include flex(space-between, center);
		flex-wrap: wrap;
		gap: 4.8rem;

		@include respond(tab-port) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 6.4rem;
		}
	}

	.feature {
		max-width: 24ch;
		@include flex(center, flex-start);
		flex-direction: column;
		gap: 2.4rem;

		@include respond(tab-port) {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}
}

.section-articles {
	background: $color-neutral-2;

	@include respond(tab-port) {
		h2 {
			text-align: center;
		}
	}

	.container {
		@include flex(space-between, flex-start);
		flex-wrap: wrap;
		gap: 3.2rem;

		@include respond(tab-port) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	article {
		background: $color-neutral-4;
		border-radius: 4px;
		overflow: hidden;
		max-width: 26ch;

		@include respond(tab-port) {
			max-width: 65%;
		}

		@include respond(phone) {
			max-width: 75%;
		}

		img {
			width: 100%;
			display: block;
		}
	}

	.article-text {
		@include flex(center, flex-start);
		gap: 1.2rem;
		flex-direction: column;
		padding: 3.2rem;

		.paragraph {
			font-size: 1.6rem;
		}
	}
}

/////////////////////////////////////
/// FOOTER
/////////////////////////////////////
footer {
	background: $color-primary-1;

	@include flex(space-between, flex-start);
	flex-wrap: wrap;
	gap: 6.4rem;

	@include respond(tab-land-s) {
		justify-content: center;
		align-items: center;
	}

	@include respond(tab-port) {
		flex-direction: column;
		align-items: center;
	}

	div {
		height: 12.6rem;
	}

	.socials {
		@include flex(space-between, flex-start);
		flex-direction: column;

		@include respond(tab-port) {
			align-items: center;
		}

		.wrapper {
			@include flex(center, flex-end);
			gap: 1.6rem;

			svg path {
				transition: all 250ms ease;
			}

			svg:hover {
				path {
					fill: $color-primary-2;
				}
			}
		}
	}

	.links {
		@include flex(space-between, flex-start);
		flex-direction: column;

		@include respond(tab-port) {
			align-items: center;
		}
	}

	a {
		&:link,
		&:visited {
			color: $color-neutral-4;
			text-decoration: none;
			transition: all 150ms ease;
		}

		&:hover,
		&:active {
			color: $color-primary-2;
		}
	}

	.copyright {
		@include flex(space-between, flex-end);
		flex-direction: column;

		.paragraph {
			color: $color-neutral-1;
		}

		@include respond(tab-land-s) {
			align-items: center;
			text-align: center;
		}
	}
}

// attribution
.attribution {
	font-size: 1.6rem;
	padding: 1.6rem;
	background-color: $color-primary-1;
	color: $color-primary-2;

	a:link,
	a:visited {
		color: $color-neutral-4;
	}
}

// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
