/////////////////////////////////////
/// VARIABLES
/////////////////////////////////////
$color-primary-1: hsl(233, 26%, 24%);
$color-primary-2: hsl(136, 65%, 51%);
$color-primary-3: hsl(192, 70%, 51%);

$color-neutral-1: hsl(233, 8%, 62%);
$color-neutral-2: hsl(220, 16%, 96%);
$color-neutral-3: hsl(0, 0%, 98%);
$color-neutral-4: hsl(0, 0%, 100%);

///////////////////////////////
/// MIXINS
///////////////////////////////
@mixin flex($x, $y) {
	display: flex;
	justify-content: $x;
	align-items: $y;
}

@mixin respond($breakpoint) {
	@if $breakpoint ==phone-s {
		@media only screen and (max-width: 25em) {
			// 400px
			@content;
		}
	}
	@if $breakpoint ==phone {
		@media only screen and (max-width: 37.5em) {
			// 600px
			@content;
		}
	}

	@if $breakpoint ==tab-port {
		@media only screen and (max-width: 56.25em) {
			// 900px
			@content;
		}
	}

	@if $breakpoint ==tab-land {
		@media only screen and (max-width: 75em) {
			// 1200px
			@content;
		}
	}
}

///////////////////////////////
/// UTILITY CLASSES
///////////////////////////////
.hidden {
	display: none !important;
}

.invisible {
	opacity: 0 !important;
	user-select: none !important;
}

.visible {
	opacity: 1 !important;
	user-select: all !important;
}

.text-center {
	text-align: center;
}

.mb-s {
	margin-bottom: 1.6rem;
}

.mb-m {
	margin-bottom: 2.4rem;
}

.mb-l {
	margin-bottom: 3.2rem;
}

.mb-xl {
	margin-bottom: 4.8rem;
}

/////////////////////////////////////
/// GLOBAL
/////////////////////////////////////
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit !important;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Public Sans", sans-serif;
}

body {
	font-size: 1.8rem;
}

/////////////////////////////////////
/// NAVIGATION
/////////////////////////////////////
nav {
	position: relative;
	background-color: $color-neutral-4;
	z-index: 100;
	padding: 0 10vw;

	@include flex(space-between, center);
	flex-wrap: wrap;

	.wrapper-links {
		transition: all 250ms ease;

		@include flex(center, center);
		gap: 3.2rem;

		a {
			transition: all 150ms ease;
			color: $color-neutral-1;
			text-decoration: none;
			display: inline-block;
			padding: 2.4rem 0 2.2rem 0;

			&:hover {
				color: $color-primary-1;
			}

			&::after {
				content: "";
				display: block;
				height: 4px;
				width: 0%;
				background: linear-gradient(
					to right,
					$color-primary-2,
					$color-primary-3
				);
				transition: width 250ms ease;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}
}

.icon-hamburger {
	display: none;
}

.mobile-nav {
	display: none;
}

/////////////////////////////////////
/// MOBILE NAVIGATION
/////////////////////////////////////
nav {
	@include respond(tab-land) {
		padding: 2.4rem 10vw;

		.logo {
			order: -1;
		}

		.wrapper-links {
			z-index: 100;

			flex-direction: column;
			gap: 0;

			background-color: $color-neutral-1;
			border-radius: 4px;
			margin: 2.4rem auto;
			padding: 1.2rem 0;

			position: absolute;
			inset: 6.4rem 9.6rem auto 9.6rem;

			opacity: 0;
			user-select: none;

			a {
				color: $color-primary-1;
				padding: 1.2rem 0;
			}
		}

		.btn {
			display: none;
		}

		.mobile-nav {
			@include flex(center, center);
		}

		.icon-hamburger {
			order: 3;
			display: unset;
		}
	}
}

/////////////////////////////////////
/// HEADER
/////////////////////////////////////
header {
	padding: 9.6rem 10vw;
	background: url(../images/bg-intro-desktop.svg) no-repeat no-repeat 80rem,
		$color-neutral-3;
	padding-bottom: 18rem;
}

/////////////////////////////////////
/// CTA IN HEADER
/////////////////////////////////////
.cta-container {
	max-width: 46rem;

	& * {
		margin-top: 2.4rem;
	}
}

/////////////////////////////////////
/// TYPOGRAPHY
/////////////////////////////////////
.btn {
	transition: all 150ms ease;
	display: inline-block;
	background: linear-gradient(to right, $color-primary-2, $color-primary-3);
	border-radius: 10rem;
	padding: 1.4rem 3.2rem;
	color: $color-neutral-2;
	text-decoration: none;

	&:hover,
	&:active {
		opacity: 0.75;
	}
}

h1,
h2,
h3,
h4 {
	color: $color-primary-1;
}

.heading-1 {
	font-size: 6.4rem;
	font-weight: 300;
}
.heading-2 {
	font-size: 4.8rem;
}
.heading-3 {
	font-size: 3.2rem;
}
.heading-4 {
	font-size: 2.4rem;
}

.paragraph {
	line-height: 1.6;
	color: $color-neutral-1;
}
