/////////////////////////////////////
/// VARIABLES
/////////////////////////////////////
$color-primary-1: hsl(233, 26%, 24%);
$color-primary-2: hsl(136, 65%, 51%);
$color-primary-3: hsl(192, 70%, 51%);

$color-neutral-1: hsl(233, 8%, 62%);
$color-neutral-2: hsl(220, 16%, 96%);
$color-neutral-3: hsl(0, 0%, 98%);
$color-neutral-4: hsl(0, 0%, 100%);

///////////////////////////////
/// MIXINS
///////////////////////////////
@mixin flex($x, $y) {
	display: flex;
	justify-content: $x;
	align-items: $y;
}

@mixin respond($breakpoint) {
	@if $breakpoint ==phone-s {
		@media only screen and (max-width: 25em) {
			// 400px
			@content;
		}
	}
	@if $breakpoint ==phone {
		@media only screen and (max-width: 37.5em) {
			// 600px
			@content;
		}
	}

	@if $breakpoint ==tab-port {
		@media only screen and (max-width: 56.25em) {
			// 900px
			@content;
		}
	}

	@if $breakpoint ==tab-land {
		@media only screen and (max-width: 75em) {
			// 1200px
			@content;
		}
	}
}

///////////////////////////////
/// UTILITY CLASSES
///////////////////////////////
.hidden {
	display: none !important;
}

.invisible {
	opacity: 0 !important;
	user-select: none !important;
}

.visible {
	opacity: 1 !important;
	user-select: all !important;
}

.text-center {
	text-align: center;
}

.mb-s {
	margin-bottom: 1.6rem;
}

.mb-m {
	margin-bottom: 2.4rem;
}

.mb-l {
	margin-bottom: 3.2rem;
}

.mb-xl {
	margin-bottom: 4.8rem;
}

/////////////////////////////////////
/// GLOBAL
/////////////////////////////////////
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Public Sans", sans-serif;
}

body {
	font-size: 1.8rem;
}

// SPACING SYSTEM (px)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
